section#container {
  width: 98%;
  margin: auto;
}

img#profile-background {
  height: 200px;
}

figure.card-profile-image {
  width: 110px;
  position: absolute;
  top: 35px;
  z-index: 1;
  left: 40px;
  cursor: pointer;
  margin: 0;
}

.teaser {
  letter-spacing: 3px;
  font-size: 24px;
  margin-bottom: 40px;
  font-family: 'ProximaNova Semibold',sans-serif;
  text-align: center;
  margin-top: 20px;
  text-transform: uppercase;
  position: relative;
  line-height: 18px;
}
