<div class="wrapper">
  <section id="container">
    <div id="profile-page" class="section">
      <div id="profile-page-header" class="card">
        <div class="card-image waves-effect waves-block waves-light">
          <img id="profile-background" src="/assets/img/user-profile-bg.jpg">
        </div>
        <figure class="circle card-profile-image">
          <cl-image width="150" height="150" gravity="face" crop="thumb" class="circle" public-id="{{user.image}}"
                    [cloud-name]="uploader.cloudName">
            <input type="file" accept="image/*" ng2FileSelect [uploader]="uploader">
          </cl-image>
        </figure>
        <div class="file-field input-field">
          <div md-tooltip="you also can drop image here" tooltip-position="below">
            <div class="btn">
              <span>{{"NEWIMAGE" | translate}}</span>
              <input type="file" accept="image/*" ng2FileSelect [uploader]="uploader">
            </div>
          </div>
        </div>

        <div class="card-content">
          <div class="row">

          </div>
        </div>
      </div>
      <div id="profile-page-content" class="row">
        <div id="profile-page-wall" class="col s12 m8">
          <div class="input-field">
            <input placeholder="{{user.firstName}}" id="first_name" type="text" class="validate" name="firstName"
                   [(ngModel)]="user.firstName"
                   (change)="updateUser()">
            <label for="first_name">{{"FIRSTNAME" | translate}}</label>
          </div>
          <div class="input-field">
            <input placeholder="{{user.lastName}}" id="last_name" type="text" class="validate" name="lastName"
                   [(ngModel)]="user.lastName"
                   (change)="updateUser()">
            <label for="last_name">{{"LASTNAME" | translate}}</label>
          </div>
        </div>
        <div id="profile-page-sidebar" class="col s12 m4">
          <div class="input-field col s12">
            <textarea placeholder="{{user.about}}" id="about" class="materialize-textarea validate" type="text"
                      name="about"
                      [(ngModel)]="user.about"
                      (change)="updateUser()"></textarea>
            <label for="about">{{"ABOUT" | translate}}</label>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
