<div class="wrapper">
  <section id="container">
    <div id="update-instruction-page" class="section">
      <div id="update-instruction-page-content" class="row">
        <div id="update-instruction-page-wall" class="col s12 m6">
          <div class="label">
            {{instruction.name}}
          </div>
        </div>
        <div id="tags" class="col s12 m6">
          <div class="chip" *ngFor="let tag of this.instruction.tags">{{tag.name}}</div>
        </div>
      </div>
      <ul class="collapsible popout" data-collapsible="expandable">
        <li *ngFor="let step of this.instruction.steps">
          <div class="collapsible-header">
            <div class="row">
              <div class="label">
                {{step.name}}
              </div>
            </div>
          </div>
          <div class="collapsible-body">
            <ul class="collection">
              <li class="collection-item" *ngFor="let part of step.parts; let i = index">
                <div class="row">
                  <div class="center">
                    <div *ngIf="part.type == 'TYPE_TEXT'" class="label">{{part.data}}</div>

                    <img *ngIf="part.type == 'TYPE_IMAGE'" width="700" [src]="makeLinkToImg(part.data)">

                    <youtube-player *ngIf="part.type == 'TYPE_VIDEO'" [videoId]="part.data" [width]="640" [height]="480"
                    ></youtube-player>
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </li>
      </ul>
    </div>
  </section>
</div>

