<div class="wrapper">
  <section id="container">
    <div class="center-align">
      <a class="waves-effect waves-light btn green" (click)="generatePdf()">{{"EXPORT_PDF" | translate}}</a>
    </div>
    <div class="center-align">
      <a *ngIf="isAuthor" class="waves-effect waves-light btn green"
         [routerLink]="['../../update/', instruction.id]">{{"EDITING" | translate}}</a>
    </div>
    <div id="update-instruction-page" class="section">
      <div id="update-instruction-page-content" class="row">
        <div id="update-instruction-page-wall" class="col s12 m6">
          <div class="label">
            {{instruction.name}}
          </div>
        </div>
        <div id="tags" class="col s12 m6">
          <div class="chip" *ngFor="let tag of this.instruction.tags">{{tag.name}}</div>
        </div>
      </div>
      <ul class="collapsible popout" data-collapsible="expandable">
        <li *ngFor="let step of this.instruction.steps">
          <div class="collapsible-header">
            <div class="row">
              <div class="label">
                {{step.name}}
              </div>
            </div>
          </div>
          <div class="collapsible-body">
            <ul class="collection">
              <li class="collection-item" *ngFor="let part of step.parts; let i = index">
                <div class="row">
                  <markdown *ngIf="part.type == 'TYPE_TEXT'" class="label">{{part.data}}</markdown>

                  <div *ngIf="part.type == 'TYPE_IMAGE'">
                    <div class="col s12 m2">
                      <div class="delimeter"></div>
                      <a class="waves-effect waves-light btn-floating btn-large orange"
                         (click)="addFilter('', part)">
                        <i class="large material-icons">filter</i>
                      </a>
                      <div class="delimeter"></div>
                      <a class="waves-effect waves-light btn-floating btn-large grey"
                         (click)="addFilter('e_grayscale', part)">
                        <i class="large material-icons">filter_1</i>
                      </a>
                      <div class="delimeter"></div>
                      <a class="waves-effect waves-light btn-floating btn-large green"
                         (click)="addFilter('e_improve', part)">
                        <i class="large material-icons">filter_2</i>
                      </a>
                      <div class="delimeter"></div>
                      <a class="waves-effect waves-light btn-floating btn-large blue"
                         (click)="addFilter('e_art:primavera', part)">
                        <i class="large material-icons">filter_3</i>
                      </a>
                    </div>
                    <div class="center col s12 m8">
                      <img width="700" [src]="makeLinkToImg(part.data)">
                    </div>
                  </div>

                  <div *ngIf="part.type == 'TYPE_VIDEO'" class="center">
                    <youtube-player [videoId]="part.data" [width]="640" [height]="480"
                    ></youtube-player>
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </li>
      </ul>
    </div>
  </section>
</div>

<!--<div>-->
<!--<a class="waves-effect waves-light btn-floating btn-large yellow tooltipped"-->
<!--data-position="right" data-delay="50" data-tooltip="I am a tooltip">-->
<!--<i class="large material-icons">mode_edit</i>-->
<!--</a>-->
<!--</div>-->
